backbody{
    width: 100%;
    border: 1px solid green;
}
header, footer{
    padding: 1em;
    color: white;
    background-color: #4caf50;
    text-align: center;
}
nav{
    max-width: 160px;
    padding: 1em;
    margin: 0;
    float: left;
}
nav ul{
    list-style-type: none;
    padding: 0%;
}
nav ul a{
    text-decoration: none;
}
nav ul a:hover{
    background-color: #4caf50;
    color: white;
}
article{
    margin-left: 170px;
    border-left: 1px solid grey;
    padding: 1em;
    background-image: url(image/back.jpg);
    color: white ;
}  
